@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');
header {
    font-family: Nunito Sans; 
    color: #fff;
    background-color: black;
}
h1{
    font-family: Nunito Sans;
    font-weight: 600px;
}
nav ul li a:focus{
    font-weight: bold;
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration: underline;
}
.nav-link{
    display: flex;
    justify-content: right;
}
.info_pic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:center;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    font-family: Nunito Sans; 
    color: #fff;
    padding: auto;
    padding-bottom: 350px;
    padding-top: 300px;
    padding-left: 700px;
    padding-right: 700px;
}
.box_info{
    display: flex;
    flex-direction: row;
    max-width: 900px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px outset whitesmoke;
    box-shadow: 3px 3px 3px 3px whitesmoke;
}
.pic_john{
    max-width: 450px;
}
.a_propos{
    max-width: 450px;
}
.h3_ul{
    border-bottom: 2px solid #0051FF;
   padding-bottom: 10px;
}
.service_title{
    display: flex;
    flex-direction: column;
    padding-left: 750px;
    padding-right: 710px;

}
.service_offer{
    border-bottom: 5px solid #0051FF;
    padding-bottom: 10px;
}
.services_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 40px;

}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.service_icon{
    width: 24px;
    color: #0051FF;
    margin: auto;
}
.Portfolio_title{
    display: flex;
    flex-direction: column;
    padding-left: 775px;
    padding-right: 775px;

}
.Portfolio_offer{
    border-bottom: 5px solid #0051FF;
    padding-bottom: 10px;
}
.portfolio_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card :hover{
    background-color: #efefef;
}
.Contact_title{
    display: flex;
    flex-direction: column;
    padding-left: 525px;
    padding-right: 525px;
    text-align: center;

}
.contact_offer{
    border-bottom: 5px solid #0051FF;
    padding-bottom: 10px;
}
.map{
    max-width: 450px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 1px;
}
.contact_info{
    display: flex;
    flex-direction: row;
    max-width: 900px;
    justify-content: space-evenly;
    padding-bottom: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px outset whitesmoke;
    box-shadow: 3px 3px 3px 3px whitesmoke;
    border-radius: 10px;
}
.submit{
    background-color: #0051FF;
    color: #fff;
    border-radius: 5px;
    max-width: fit-content;
    margin-left: 110px;
    border-width: 1px;
}
.submit:hover{
    background-color: #002794;
}

.h2_ul{
    border-bottom: 2px solid #0051FF;
   padding-bottom: 10px;
}
.contact_link{
    text-decoration: none;
    color: black;
}
.ml_title{
    display: flex;
    flex-direction: column;
    padding-left: 750px;
    padding-right: 750px;
    border-bottom: 2px solid #0051FF;
}
.accordion{
    padding-bottom: 195px;
    padding-left: 200px;
    padding-right: 200px;
}
.modal-header{
    background-color: #2C2C30;
    color: #fff;
}
.modal-body{
    display: flex;
    flex-direction: column;
    background-color: #2C2C30;
    color: #fff;
}
.modal-footer{
    background-color: #2C2C30;
}
footer{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-around;
    background-color: #2C2C30;
    font-family: Nunito Sans;
    color: #fff;
    position:static;
}
.footer_link{
    text-decoration: none;
    color: #fff;
}
.footer_link :hover{
    font-weight: bold;
}
.icon_link{
    background-color: grey;
}
.icon_link :hover{
    background-color: #fff;
}