@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');
header {
    font-family: Nunito Sans; 
    color: #fff;
    background-color: black;
}
h1{
    font-family: Nunito Sans;
}
nav ul li a:focus{
    font-weight: bold;
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration: underline;
}
.nav-link{
    display: flex;
    justify-content: right;
}
footer{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-around;
    background-color: black;
    font-family: Nunito Sans;
    color: #fff;
}
.footer_link{
    text-decoration: none;
    color: #fff;
}
.icon_link{
    background-color: grey;
}
.icon_link :hover{
    background-color: #fff;
}